<section class="tiles">


{% for post in site.posts limit:site.front-page-posts %}
	<article class="style{{ forloop.index | plus:1 }}">
		<span class="image">
			{% if {{post.featured-image}} == blank or {{post.featured-image}} == nil %}
				<img src="{{ site.url }}{{ site.baseurl }}/images/pic01.jpg" alt="" />
			{% else %}
				<img src="{{ site.url }}{{ site.baseurl }}/images/tutorials/{{post.featured-image}}" alt="" />
			{% endif %}
		</span>
		<a href="{{ post.url | prepend:site.baseurl | prepend:site.url }}">
			<h2>{{ post.title }}</h2>
			<div class="content">
				{% if {{post.brief-description}} %}
					<p>{{post.brief-description}}</p>
				<!-- <p>{{ post.excerpt }}</p> -->
				{% endif %}
			</div>
		</a>
	</article>
{% endfor %}

</section>
